h1{
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
}
h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}
h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
p{
    color: #4D4D4D;
}
p:first-of-type{
    font-weight: bold;
 }
 a{
    color: #8A2BE2;
    text-decoration:none; 
 }

 header{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://i.ytimg.com/vi/IyQjEYs2ik4/maxresdefault.jpg");
}

header p{
    color: #00ccff;
}

header h1{
    color: #7d7d7d;
}
section article img{
    width: 50%;
}

section article{
    border-style: solid;
    border-left-width: 10px;
    color: black;
}