* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-color: black;
}

body p{
  color: white;
  font-size: 20px;
  width: 30%;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  min-height: 1%;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  z-index: 500;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 10vw;
  height: 19vh;
  padding: 20px;
}

.title1 {
  font-size: 50px;
  position: absolute;
  top: 110%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
.title2 {
  font-size: 50px;
  position: absolute;
  top: 120%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  width: 100%;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  left: 50%;
}

.footer-text {
  font-size: 20px;
  padding-left: 540px;
}

h2{
  color: white;
  font-size: 25px;
  text-align: center;
}

.txt1 {
  display: flex;
  justify-content: space-between;
  padding-left: 65%;
  padding-top: 5%;
  width: 155%;
}
