* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-color: black;
}

body p{
  color: white;
  font-size: 20px;
  width: 30%;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  min-height: 1%;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  z-index: 500;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 10vw;
  height: 19vh;
  padding: 20px;
}
section {
  height: 100vh;
}

.title1 {
  font-size: 40px;
  position: absolute;
  top: 110%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  width: 100%;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  left: 50%;
}

.footer .footer-text {
  margin: auto;
  text-align: center;
}

h2 {
  color: white;
  font-size: 45px;
  text-align: center;
  padding-top: 10vh;
}

.txt1 {
  display: flex;
  float: right;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
}

.txt1 p {
  padding-top: 80px;
}

.img1 {
  position: relative;
  float: left;
  top: -200px;
}

.txt2 {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  padding-top: 50px;
  align-items: center;
}

.img2 {
  position: relative;
  float: right;
  top: -200px;
}

.sql-pad h2 {
  padding-top: 100px;
}
